name: Depot Nextcloud - e2e build

on:
  push:
    branches:
      - master
  schedule:
    # not to burn macOS capacity with round hours/minutes
    - cron: "17 * * * *"
  workflow_dispatch: {}

jobs:
  build-and-test:
    strategy:
      matrix:
        include:
          - os: depot-macos-14
            destination: arch=arm64,platform=iOS Simulator,OS=18.6,name=iPhone 16
          - os: depot-macos-15
            destination: arch=arm64,platform=iOS Simulator,OS=18.6,name=iPhone 16
    name: Build and Test
    runs-on: ${{ matrix.os }}
    env:
      PROJECT: Nextcloud.xcodeproj
      DESTINATION: ${{ matrix.destination }}
    steps:
    - uses: actions/checkout@v4
    - name: Download GoogleService-Info.plist
      run: wget "https://raw.githubusercontent.com/firebase/quickstart-ios/master/mock-GoogleService-Info.plist" -O GoogleService-Info.plist
    - name: xcode select
      run: |
        if [ "${{ matrix.os }}" == "depot-macos-14" ]; then
          sudo xcode-select -s /Applications/Xcode_16.4.app
        else
          sudo xcode-select -s /Applications/Xcode_16.4.app
        fi
    - name: Set env var
      run: echo "DEVELOPER_DIR=$(xcode-select --print-path)" >> $GITHUB_ENV
    - name: Build iOS Share
      run: |
        xcodebuild build -project $PROJECT -scheme "$SCHEME" -destination "$DESTINATION" | xcbeautify 
      env:
          SCHEME: Share
    # - name: Build iOS File Extension
    #   run: |
    #     xcodebuild build -project $PROJECT -scheme "$SCHEME" -destination "$DESTINATION" | xcbeautify --quieter
    #   env:
    #       SCHEME: File Provider Extension
    # - name: Build iOS Notification Extension
    #   run: |
    #     xcodebuild build -project $PROJECT -scheme "$SCHEME" -destination "$DESTINATION" | xcbeautify --quieter
    #   env:
    #       SCHEME: Notification Service Extension
    # - name: Build iOS Widget
    #   run: |
    #     xcodebuild build -project $PROJECT -scheme "$SCHEME" -destination "$DESTINATION" | xcbeautify --quieter
    #   env:
    #       SCHEME: Widget
    # - name: Build iOS Widget Dashboard IntentHandler
    #   run: |
    #     xcodebuild build -project $PROJECT -scheme "$SCHEME" -destination "$DESTINATION" | xcbeautify --quieter
    #   env:
    #       SCHEME: WidgetDashboardIntentHandler
    # - name: Report status to Discord and Incident.io
    #   if: always()
    #   uses: ./.github/actions/report-test-status
    #   with:
    #     job-status: ${{ job.status }}
    #     job-name: Depot UTM - e2e build
    #     discord-webhook: ${{ secrets.DISCORD_WEBHOOK_E2E_TESTS }}
    #     incident-io-token: ${{ secrets.INCIDENT_IO_SOURCE_TOKEN }}
    #     run-id: ${{ github.run_id }}
    #     job-id: ${{ job.check_run_id }}